# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.backup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
.vscode/

# Logs
*.log

# Database
inventory.db
inventory.db-journal
inventory.db-shm
inventory.db-wal

# OS
.DS_Store
Thumbs.db
